<div class="container">
  <h3>More information on - "{{model.swali}}"</h3>
  {{update-question question=model update="update"}}

  {{question-tile question-detail question=model}}
  Notes: {{model.notes}}


  {{new-answer saveAnswer="saveAnswer" question=model}}

  <h2>Answers</h2>
  <ul>
    {{#each model.answers as |answer|}}
    <li>
    {{answer.content}} - by {{answer.author}}
    </li>
    {{/each}}
  </ul>
</div>
